doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../img/btn/piggyPal_logo.png" type="image/x-icon")
    link(href="./aboutus.sass", rel="stylesheet")
    title PiggyPal | aboutus
  body
    #navbar
      #logo
      .word
        p#name PiggyPal
        #box1.box
          p#home.button Home
          .underline
        #box2.box
          p#project.button Project
          .underline
        #box3.box
          p#aboutus.button About Us
          .underline
      #search
    
    #pic
      #head_back.people
      #head.people
      #tu_back.people
      #tu.people
      #shen_back.people
      #shen.people
      #zhuang_back.people
      #zhuang.people
      #huang_back.people
      #huang.people
      #lu_back.people
      #lu.people
      #tail_back.people
      #tail.people
      #arrow-left
      #arrow-right
      
    #information
      p#mot Meet Our Team
      .line
      .info_box
        p PiggyPal是一個由來自不同科系的夥伴跨域協作的理財app，期待能在未來碰撞出更多的火花，也歡迎大家多多關注並支持PiggyPal
    
    #group
      .group_pic
      .cu
        a(href="mailto:piggypalofficial@gmail.com")
    
    #bottom
      p Copyright © 2022 PiggyPal,Inc.
      p
        a(href="https://en.wikipedia.org/wiki/Privacy_policy") Privacy Pal
        |&emsp;&emsp;
        a(href="https://en.wikipedia.org/wiki/security") Security
  
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="./aboutus.js")