@charset "UTF-8";
@font-face {
  font-family: "Franklin Gothic Demi";
  src: url(./img/font/Franklin_Gothic_Demi_Regular.ttf); }

@font-face {
  font-family: "Franklin Gothic Book";
  src: url(./img/font/Franklin_Gothic_Book_Regular.ttf); }

body {
  background: black;
  width: 100vw;
  /*不確定需不需要 */
  height: auto;
  margin: 0;
  overflow-x: hidden; }

/****************************/
/*    (1) top bar part      */
/****************************/
/*#logo, .word */
#navbar #logo, #navbar .word {
  position: relative;
  left: 8.54vw; }

/*#logo, .word, #search */
#navbar #logo, #navbar .word, #navbar #search {
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  margin: 0; }

/*.button:hover, #logo:hover, #name:hover */
#navbar #logo:hover, #navbar .word #name:hover, #navbar .word .box .button:hover {
  cursor: pointer; }

#navbar {
  font-family: "Franklin Gothic Demi";
  font-size: 18pt;
  color: white;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  top: 0;
  margin: 0; }
  #navbar #logo {
    background: url(./img/btn/piggyPal_logo.png) no-repeat center/contain;
    width: 9vh;
    height: 9vh;
    max-width: 52px;
    max-height: 52px;
    padding: 0 14pt 0 0; }
  #navbar .word {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #navbar .word #name {
      padding: 0 5.9vw 0 0; }
    #navbar .word .box {
      display: flex;
      justify-content: center;
      margin: 8pt 0;
      padding: 0 4.17vw 0 0; }
      #navbar .word .box #home, #navbar .word .box #project, #navbar .word .box #aboutus {
        margin: 0; }
      #navbar .word .box .underline {
        width: 65px;
        height: 6px;
        display: none;
        background-color: #f05eed;
        position: absolute;
        bottom: 5vh; }
    #navbar .word #box3 .underline {
      display: block; }
  #navbar #search {
    background: url(./img/textbox/search.png) no-repeat center/contain;
    height: 9vh;
    width: 18vw;
    max-height: 48px;
    max-width: 196px;
    position: absolute;
    right: 8.54vw; }

/****************************/
/*    (2) picture part      */
/****************************/
#pic {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 40px;
  /*#arrow-left, #arrow-right */ }
  #pic .people {
    width: 17.22vw;
    height: 60vh;
    position: absolute;
    display: flex;
    cursor: pointer; }
  #pic #head_back {
    background: url(./img/nameCard/Lu.png) no-repeat center/contain;
    left: -34.31%;
    display: none; }
  #pic #head {
    background: url(./img/photo/Lu.png) no-repeat center/contain;
    left: -34.31%; }
  #pic #tu_back {
    background: url(./img/nameCard/Tu.png) no-repeat center/contain;
    left: -9.03%;
    display: none; }
  #pic #tu {
    background: url(./img/photo/Tu.png) no-repeat center/contain;
    left: -9.03%; }
  #pic #shen_back {
    background: url(./img/nameCard/Shen.png) no-repeat center/contain;
    left: 16.18%;
    display: none; }
  #pic #shen {
    background: url(./img/photo/Shen.png) no-repeat center/contain;
    left: 16.18%; }
  #pic #zhuang_back {
    background: url(./img/nameCard/Zhuang.png) no-repeat center/contain;
    left: 41.39%;
    display: none; }
  #pic #zhuang {
    background: url(./img/photo/Zhuang.png) no-repeat center/contain;
    left: 41.39%; }
  #pic #huang_back {
    background: url(./img/nameCard/Huang.png) no-repeat center/contain;
    left: 66.6%;
    display: none; }
  #pic #huang {
    background: url(./img/photo/Huang.png) no-repeat center/contain;
    left: 66.6%; }
  #pic #lu_back {
    background: url(./img/nameCard/Lu.png) no-repeat center/contain;
    left: 91.81%;
    display: none; }
  #pic #lu {
    background: url(./img/photo/Lu.png) no-repeat center/contain;
    left: 91.81%; }
  #pic #tail_back {
    background: url(./img/nameCard/Tu.png) no-repeat center/contain;
    left: 117.09%;
    display: none; }
  #pic #tail {
    background: url(./img/photo/Tu.png) no-repeat center/contain;
    left: 117.09%; }
  #pic #arrow-left, #pic #arrow-right {
    width: 8vw;
    height: 8vh;
    position: absolute;
    top: 26vh;
    opacity: 0.75;
    z-index: 2;
    /*#arrow-left:hover, #arrow-right:hover */ }
    #pic #arrow-left:hover, #pic #arrow-right:hover {
      opacity: 1;
      cursor: pointer; }
  #pic #arrow-left {
    background: url(./img/btn/arrowLeft_hover.png) no-repeat top/contain;
    left: 2.92vw; }
  #pic #arrow-right {
    background: url(./img/btn/arrowRight_hover.png) no-repeat top/contain;
    right: 2.92vw; }

/****************************/
/*   (3) information part   */
/****************************/
#information {
  width: 100vw;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 132px; }
  #information #mot {
    font-family: "Franklin Gothic Demi";
    font-size: 18pt;
    margin: 0 0 18px 0; }
  #information .line {
    background-color: #f05eed;
    width: 9vw;
    height: 7px;
    margin: 0 0 30px 0; }
  #information .info_box {
    font-family: "Microsoft JhengHei";
    font-size: 14pt;
    text-align: center;
    width: 50vw;
    height: auto;
    display: flex; }
    #information .info_box p {
      line-height: 40px;
      margin: 0; }

/****************************/
/*  (4) group picture part  */
/****************************/
/*.group_pic:hover */
#group .group_pic:hover {
  opacity: 0.5 !important;
  z-index: 0; }

#group {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 224px; }
  #group .group_pic {
    background: url(./img/photo/group.png) no-repeat center/contain;
    width: 68.48%;
    height: 100%;
    transition: 0.5s;
    z-index: 1; }
  #group .cu {
    background: url(./img/btn/contactUs.png) no-repeat center/contain;
    height: 9vh;
    width: 18vw;
    max-height: 48px;
    max-width: 196px;
    transition: 0.75s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%); }
    #group .cu a {
      display: flex;
      height: 9vh;
      width: 18vw;
      max-height: 48px;
      max-width: 196px; }

/****************************/
/*   (5) bottom info part   */
/****************************/
#bottom {
  font-family: "Franklin Gothic Book";
  font-size: 11pt;
  background-color: white;
  color: #7b7b7b;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 316px; }
  #bottom p {
    margin: 0; }
  #bottom a {
    color: #7b7b7b; }
