@font-face {
    font-family: "Franklin Gothic Demi";
    src: url(./img/font/Franklin\ Gothic\ Demi\ Regular.ttf);
}
@font-face {
    font-family: "Franklin Gothic Book";
    src: url(./img/font/Franklin\ Gothic\ Book\ Regular.ttf)
}

body{
    background: rgb(0, 0, 0);
    width: 100vw; /*不確定需不需要*/
    height: auto;
    margin: 0;
    overflow-x: hidden;
}


/*top bar part*/
#navbar{
    font-family: "Franklin Gothic Demi";
    font-size: 18pt;
    color: white;
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
}

#logo, .word{
    position: relative;
    left: 8.54vw;
}

#logo, .word, #search{
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

#logo{
    background: url(./img/btn/piggyPal_logo.png) no-repeat center / contain;
    width: 9vh;
    height: 9vh;
    max-width: 52px;
    max-height: 52px;
    padding: 0 14pt 0 0;
}

.word{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name{
    padding: 0 5.9vw 0 0;
}

#home, #project, #aboutus{
    margin: 0 4.17vw 0 0;
    padding: 8pt 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button::after {
    content: '';
    width: 69px;
    height: 6px;
    display: none;
    background-color: rgb(240,94,237);
    position: absolute;
    bottom: 5vh;
}

#aboutus::after{
    display: block;
}

#home:hover::after, #project:hover::after{
    display: block;
}

.button:hover, #logo:hover, #name:hover{
    cursor: pointer;
}

#search{
    background: url(./img/textbox/search.png) no-repeat center / contain;
    height: 9vh;
    width: 18vw;
    max-height: 48px;
    max-width: 196px;
    position: absolute;
    right: 8.54vw;
}

/*picture part*/
.pic{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
    left: 180px;
}

.people{
    width: 17.22vw;
    height: 60vh;
    /*position: absolute;
    display: flex;*/
}

#head{ background: url(./img/photo/Lu.png) no-repeat center / contain; left: -34.31%; }

#tu_back{ 
    background: url(./img/nameCard/Tu.png) no-repeat center / contain; left: -9.03%; 
    display: none;
}
#tu{background: url(./img/photo/Tu.png) no-repeat center / contain; left: -9.03%;}

#shen_back{
    background: url(./img/nameCard/Shen.png) no-repeat center / contain; left: 16.18%;
    display: none;
}
#shen{background: url(./img/photo/Shen.png) no-repeat center / contain; left: 16.18%;}

#zhuang_back{ 
    background: url(./img/nameCard/Zhuang.png) no-repeat center / contain; left: 41.39%; 
    display: none;
}
#zhuang{background: url(./img/photo/Zhuang.png) no-repeat center / contain; left: 41.39%;}

#huang_back{
    background: url(./img/nameCard/Huang.png) no-repeat center / contain; left: 66.6%;
    display: none;    
}
#huang {background: url(./img/photo/Huang.png) no-repeat center / contain; left: 66.6%;}

#lu_back{
    background: url(./img/nameCard/Lu.png) no-repeat center / contain; left: 91.81%;
    display: none;
}
#lu{background: url(./img/photo/Lu.png) no-repeat center / contain; left: 91.81%;}

#tail{ background: url(./img/photo/Tu.png) no-repeat center / contain; left: 117.09%; }



#arrow-left, #arrow-right{
    width: 8vw;
    height: 8vh;
    position: absolute;
    top: 26vh;
    opacity: 0.75;
    z-index: 2;
}

#arrow-left{
    background: url(./img/btn/arrowLeft_hover.png) no-repeat top / contain;
    left: 2.92vw;
}

#arrow-right{
    background: url(./img/btn/arrowRight_hover.png) no-repeat top / contain;
    right: 2.92vw;
}

#arrow-left:hover, #arrow-right:hover{
    opacity: 1;
    cursor: pointer;
}


/*information part*/
#information{
    width: 100vw;
    height: auto;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    top: 132px;
}

#mot{
    font-family: "Franklin Gothic Demi";
    font-size: 18pt;
    margin: 0 0 18px 0;
}

.line{
    background-color:rgb(240,94,237);
    width: 150px;
    height:7px;
    margin: 0 0 30px 0;
}

.info_box{
    font-family: "Franklin Gothic Book";
    font-size: 14pt;
    width:100vw;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.info{
    margin: 0;
}


/*group_pic part*/
.group{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 224px;
}

.group_pic{
    background: url(./img/photo/group.png) no-repeat center / contain;
    width: 68.48%;
    height: 100%;
    transition: 0.75s;
    z-index: 1;
}

.cu{
    background: url(./img/btn/contactUs.png) no-repeat center / contain;
    height: 9vh;
    width: 18vw;
    max-height: 48px;
    max-width: 196px;
    transition: 0.75s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.cu a{
    display: flex;
    height: 9vh;
    width: 18vw;
    max-height: 48px;
    max-width: 196px;
}


.group_pic:hover{
    opacity: 0.5 !important;
    z-index: 0
}


/*bottom info part*/
#bottom{
    font-family: "Franklin Gothic Book";
    font-size: 11pt;
    background-color:white;
    color: rgb(123, 123, 123);
    width: 100vw;
    height: 75pt;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: relative;
    top: 316px;
}

#bottom p{
    margin: 0;
}

#bottom a{
    color: rgb(123, 123, 123);
}
