@font-face {
    font-family: "Franklin Gothic Demi";
    src: url(./img/font/Franklin\ Gothic\ Demi\ Regular.ttf);
}
@font-face {
    font-family: "Franklin Gothic Book";
    src: url(./img/font/Franklin\ Gothic\ Book\ Regular.ttf)
}

body{
    background: rgb(0, 0, 0);
    margin: 0;
}

#navbar{
    font-family: "Franklin Gothic Demi";
    font-size: 24pt;
    color: white;
    line-height: 5.97vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    margin: 0;
}

#navbar *{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 8.54vw;
}

.button p{
    padding: 0 3.68vw 0 0;
}

#logo{
    width: 1.3em;
    height: 1.3em;
    margin: 5.14vh 0;
    background-color: rgb(141, 94, 243);
}

#search{
    background: url(./img/textbox/search.png) no-repeat center / contain;
    height: 1.3em;
    width: 20vw;
    margin: 5.14vh 0;
}
#information{
    color: white;
    width: 100vw;
    display:flex;
    align-items:center;
    flex-direction: column;
    position: absolute;
    top: 40vw;
    margin: 0;
}
.info{
    font-family: "Franklin Gothic Book";
    font-size: 20pt;
    line-height: 5.97vh;
   /* width: 100vw;
    display: flex;
    align-items:center;
    flex-direction: column;
    position: absolute;
    top: 40vw;
    margin: 0;*/
}

#bottom{
    font-family: "Franklin Gothic Book";
    font-size: 16pt;
    background-color:white;
    color: rgb(217,215,218);
    line-height: 6.60vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    position: absolute;
    top:66vw;
}
