doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./img/btn/piggyPal_logo.png" type="image/x-icon")
    //link(href="./aboutus.css", rel="stylesheet", type="text/css")
    title PiggyPal | Sign up
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  body
    #signup_form
      form
        p account:
          input(type="text" name="account")
        br
        p password:
          input(type="text" name="password")
        br
        p username:
          input(type="text" name="username")
        br
        p email:
          input(type="text" name="email")
        br
        br
        button(type="submit") SEND OUT
      
    #test
      
    script(src='./app/regist.js')  
        